.App {
  text-align: center;
}

html, body, #root, .App {
  margin: 0;
  min-height: 100vh;
  background-color: white; 
}

.Arriba {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 2%;
  background-color: lightgray;
}

.Nombre {    
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-left: 2%;
}

.Linea1 {
  width: 0.1%; 
  height: 80%; 
  background-color: rgb(0, 0, 0)
}

.Atajos {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  gap: 10%;
}

.Atajos button {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.Perfil {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: white;
  width: 100%;
  height: 25%;
  gap: 10%;
}

.TextoPerfil {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10%;
  align-items: flex-start;
  margin-right: 7%;
  font-size: x-large;
  justify-content: center;
  width: 60%;
  height: 60%;
}

.Titulo {
  font-size: xx-large;
  font-weight: bolder;
}

.FotoPerfil {
  width: 20%;
  height: auto;
}

.misProyectos {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}

.elementoDerecha {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.fotoDerecha {
  margin-right: 7%;
  width: 20%;
  height: auto;
  border-radius: 4px;
}

.textoDerecha {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  text-align: end;
  width:40%;
}

.tituloDerecha {
  margin-top: 5%;
  font-size: x-large;
  font-weight: bolder;
  text-align: end;
}

.descDerecha {
  margin-top: 5%;
  text-align: end;
}

.subtitulo {
  margin-top: 5%;
  font-size: x-large;
  font-weight: bolder;
}

.TituloElemento {
  margin-top: 5%;
  font-size: xx-large;
  font-weight: bolder;
}

.elementoIzquierda {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6%;
}

.fotoIzquierda {
  margin-left: 7%;
  width: 20%;
  height: auto;
  border-radius: 4px;
}

.textoIzquierda {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
}

.descIzquierda {
  margin-top: 5%;
  text-align: start;
}

.Formacion {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}