@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
  position: relative;
}

html, body, #root, .App {
  margin: 0;
  min-height: 100vh;
  background-color: black; 
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 0;
}

.Arriba {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 2%;
  color: white;
}

.Nombre {    
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-left: 2%;
}

.Linea1 {
  width: 0.1%; 
  height: 80%; 
  background-color: white
}

.Atajos {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  gap: 10%;
}

.Atajos button {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.Perfil {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 25%;
  gap: 10%;
  z-index: 0;
}

.TextoPerfil {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10%;
  align-items: flex-start;
  margin-right: 7%;
  font-size: x-large;
  justify-content: center;
  width: 60%;
  height: 60%;
  background: linear-gradient(to right, #606060, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Titulo {
  font-size:70px;
  font-weight: bolder;
  background: linear-gradient(to right, #606060, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.FotoPerfil {
  width: 20%;
  height: auto;
}

.misProyectos {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}

.elementoDerecha {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.fotoDerecha {
  margin-right: 7%;
  width: 20%;
  height: auto;
  border-radius: 4px;
}

.textoDerecha {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  text-align: end;
  width:40%;
}

.tituloDerecha {
  margin-top: 5%;
  font-size: x-large;
  font-weight: bolder;
  text-align: end;
}

.descDerecha {
  margin-top: 5%;
  text-align: end;
}

.subtitulo {
  margin-top: 5%;
  font-size: x-large;
  font-weight: bolder;
  background: linear-gradient(to right, #606060, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.TituloElemento {
  margin-top: 5%;
  font-size: xx-large;
  font-weight: bolder;
  background: linear-gradient(to right, #606060, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.elementoIzquierda {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6%;
  padding-top: 5%;
}

.fotoIzquierda {
  margin-left: 7%;
  width: 20%;
  height: auto;
  border-radius: 4px;
}

.textoIzquierda {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
}

.descIzquierda {
  margin-top: 5%;
  text-align: start;
}

.Formacion {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
}

.Habilidades {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}

.GridHabilidades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  width: 80%;
  padding-top: 3%;
  justify-items: center;
}

.habilidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.habilidadFoto {
  width: 60%;
  height: auto;
  border-radius: 8px;
}

.habilidadTexto {
  text-align: center;
}

.Contacto {
  font-weight: bold;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
  height: 200px;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5%;
  gap: 1%;
}

.minitexto {
  font-size: large;
  color: white;
}

.contactoIzquierda {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.contactoDerecha {
  display: flex;
  flex-direction: column;
  text-align: flex-end;
  align-items: end;
  justify-content: start;
}

.textoContacto {
  display: flex;
  gap: 220%;
  font-weight: bold;
}

.Ellipse1{
  position: absolute;
  margin-left: 0%;
  width: 90%;  
  height: auto;
  object-fit: cover; 
  z-index: -1;
}