.App {
  text-align: center;
}

html, body, #root, .App {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to left, #B400C4, #57005E);
  color: white;
  overflow-x: hidden;
}

.Arriba {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 2%;
  background-color: transparent;
}

.Nombre {    
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-left: 2%;
}

.Linea1 {
  width: 0.1%; 
  height: 80%; 
  background-color: white
}

.Atajos {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  gap: 10%;
  color: white;
}

.Atajos button {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.Perfil {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: transparent;
  width: 100%;
  height: 25%;
}

.TextoPerfil {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10%;
  align-items: flex-start;
  margin-left: 7%;
  font-size: x-large;
  justify-content: center;
  width: 60%;
  height: 60%;
}

.Titulo {
  font-size: xx-large;
  font-weight: bolder;
}

.FotoPerfil {
  width: 20%;
  height: auto;
}

.misProyectos {
  position: relative;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  z-index: 1;
  margin-top: 10%;
}

.Formacion {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 70px;
  margin-top: 20%;
}

.Habilidades {
  margin-top: 10%;
  position: relative;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  z-index: 1;
}

.TituloElemento {
  margin-top: 5%;
  font-size: xx-large;
  font-weight: bolder;
}

.elementoIzquierda {
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6%;
}
.subtitulo {
  margin-top: 5%;
  font-size: x-large;
  font-weight: bolder;
}

.fotoIzquierda {
  margin-left: 7%;
  width: 20%;
  height: auto;
  border-radius: 4px;
}

.textoIzquierda {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.descIzquierda {
  margin-top: 5%;
  text-align: start;
}

.elementoDerecha {
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6%;
}

.fotoDerecha {
  margin-right: 7%;
  width: 20%;
  height: auto;
  border-radius: 4px;
}

.textoDerecha {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: end;
}

.tituloDerecha {
  margin-top: 5%;
  font-size: x-large;
  font-weight: bolder;
  margin-left: 70%;
}

.descDerecha {
  margin-top: 5%;
  text-align: end;
}

.Contacto {
  font-weight: bold;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30%;
  height: 200px;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5%;
  gap: 5%;
}

.minitexto {
  font-size: large;
  color: white;
}

.contactoIzquierda {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.contactoDerecha {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: start;
}

.textoContacto {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 150%;
  font-weight: bold;
}

.Ellipse1{
  position: absolute;
  top: -50px;
  left: -100px;
  width: 110%;  
  height: auto;
  object-fit: cover; 
  z-index: -10;
}

.Ellipse2{
  position: absolute;
  top: -100px;
  left: -100px;
  width: 110%;  
  height: auto;
  object-fit: cover; 
  z-index: -10;
}